
        body{
            
            background-image:url(pastelitos.jpg) ;
           
            
        font-family: cursive;
        font-size: x-large;
        font-weight: bolder;
        font
        }
    #container { width: 100%;}

   
    .centrado{
        margin:10px auto;
        height: 200px;
        display:block
        ;
}

    header{
        background: pink;
        height: 250px;
        width: 100%;
        margin: 0px;
        text-align: center;
        line-height: 100px;
        color: black;
        border-bottom: 5px dashed ;
        border-top: 5px dashed;

    }
      div.nos{
          width: 50%;
          font-family: cursive;
          font-family: cursive;
          color: black;
          border-top: dashed;
          border-right: dashed;
          border-left: dashed;
          border-bottom: dashed;
          background-color: pink;
          padding: 10px;
           }


           

    
        

    
        div.blanco {
            width: 50%;
            font-family: cursive;
            background-color:white;
            color: black;
            border-right: dashed;
            border-left: dashed;
            border-bottom: dashed;
            border-top: dashed;
            padding: 15px}
        
            div.noticia {
                width: 50%;
                font-family: cursive;
                background-color:pink;
                color: black;
                border-right: dashed;
                border-left: dashed;
                border-bottom: dashed;
                border-top: dashed;
                padding: 15px}

                div.rosa {
                    width: 50%;
                    font-family: cursive;
                    background-color:pink;
                    color: black;
                    border-right: dashed;
                    border-left: dashed;
                    border-bottom: dashed;
                    border-top: dashed;
                    padding: 15px}
                
            
        
   
     

      div.noticia img.pastel2 {
        float: left;
        margin-left: 15px;
        height: 70px;
      }

      div.noticia img.left {
        float: left;
        margin-left: 15px;
        height: 70px;
      }

      
     